# Seguridad
SECRET_KEY=tu_clave_secreta_aqui

# Configuración de Mail (Gmail App Password)
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=tu_app_password_aqui
MAIL_DEFAULT_SENDER=tu_email@gmail.com

# Entorno
FLASK_DEBUG=False
PORT=5000
